body {
  background-color: #2b2b2b;
  color: rgb(38, 219, 222);
}

div#return-field {
  border: 2px solid #3b3b3b;
  color: aquamarine;
}

.container {
  background-color: #151515;
  width: 60%;
  margin: 1rem;
  padding: 1rem;
  overflow-wrap: break-word;
  border-radius: 10px;
}


